html {
    height: 100%;
    min-height: 100%;
    width: 100%;
    margin: 0 auto;
  }

#header {
    text-align: center;
    font-size: 30px;
}  

body {
    background: #aaf0d0c0;
}

#top-activity-title {
    font-size: 30px;
    text-align: center;
    height: 250px;
    width: 60%;
    background: #83bba2;
    border-radius: 50px;
}

#top-activity-description {
    text-align: center;
    font-size: 20px;
}

#sub-activities {
    position: relative;
    left: 2.3%;
    display: flex;
    text-align: center;
    height: 175px;
    width: 55%;
    background: #83bba2;
    border-radius: 50px; 
    margin: 0px;
}

.sub-act {
    width: 50%;
    text-align: center;
}

.sub-text {
    text-align: center;
    font-size: 12px;
}

button {
    cursor: pointer;
    border-radius: 25px; 
    position: relative;
    font-size: 25px;
    background-color: #6d9b86;
}

#random {
    left: 10%;
}